.contentView {
    height: 8%;
    display: flex;
    align-items: center;
    border: 2px solid red;
}

.logo {
    margin-left: 5em;
    margin-top: 0em;
}

.homeOption{
    margin-left: 50em;
}

.contentText {
    color: gray;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2em;
}

.icon {
    width: 0.5em;
    margin-left: 0.5em;
}
.signUp {
    margin-left: 2em;
    color: black;
    padding: 0.5em;
    background-color: #49DEC3;
    border-radius: 1.5em;
}