@font-face {
    font-family: "NunitoSans";
    src: url('../../constant/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    src: url('../../constant/fonts/static/NunitoSans_10pt-ExtraBold.ttf') format('truetype');
}
.vnTourIntroBackground {
    height: 50vh;
    background-image: url('../../assets/images/international_tour_background.png');
    background-position: center;
    background-size: cover;
}

.vnTourIntroLayer {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}
.vnTourIntroText {
    color: white;
    font-family: "NunitoSans";
    font-size: 72px;
    font-weight: bolder;
}
.tourContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Set the number of columns */
    grid-gap: 5vw; /* Adjust the gap between items */
    padding: 0 5vw;
  }
  
.tourContainer .tourCard {
    flex: 0 0 auto;
    margin-top: 2vw;
  }
  
  .displayHorizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filterDate {
    font-size: 1.2vw; 
    font-weight: 500;
}
.filterImage {
    height: 1.2vw;
    margin-left: 1vw;
}
.filterBox {
    border: 1.5px solid black;
    border-radius: 10px;
    width: 20%;
    height: 10%;
    font-size: 1.2vw;
    font-weight: 500;
    min-width: 35vh;
    min-height: 5vh;
    margin-right: 10%;
    margin-top: 0.7vw;
    padding-left: 1vw;
}
.buttonInfo {
    padding: 0 5vw;
    margin: 0.8vw 0;
    font-size: 1.2vw;
}
.button {
    margin-left: 5vw;
    margin-top: 0.5vw;
    padding: 1vw 2vw;
    width: fit-content  ;
    background-color:  #5CD6C0;
    font-family: 'Nunito sans',sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    color: white;
}

.comboboxContainer {
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 1.2vw,
}
@media screen and (max-width: 1100px) {
    .tourContainer {
        margin-left: 3%;
        grid-template-columns: repeat(2, 1fr); /* Set the number of columns */
    }
  }
@media screen and (max-width: 915px) {
    .vnTourIntroText {
        font-size: 5.5vh;
    }
    .tourContainer {
        margin-left: 3%;
        grid-template-columns: repeat(2, 1fr); /* Set the number of columns */
    }
    .filterBox {
        width: 15%;
        height: 8%;
        font-size: 2vw;
        font-weight: 500;
        min-width: 25vh;
        margin-right: 10%;
        margin-top: 0.7vw;
        padding-left: 1vw;
    }
    .filterDate {
        margin-left: 25px;
        font-size: 2vw; 
    }
    .filterImage {
        height: 1.75vw;
    }
    .buttonInfo {
        font-size: 1.75vw;
    }
    .button {
        width: fit-content  ;
        font-size: 2.4vw;
    }
}
@media screen and (max-width: 780px) {
    .tourContainer {
        margin-left: 20%;
        grid-template-columns: repeat(1, 1fr); /* Set the number of columns */
    }
}
@media screen and (max-width: 540px) {
    .vnTourIntroBackground {
        margin-top: 30px;
        height: 35vh;
    }
    .vnTourIntroText {
        font-size: 30px;
    }
    .tourContainer {
        margin-left: 10%;
        grid-template-columns: repeat(1, 1fr); /* Set the number of columns */
    }
    .filterBox {
        width: 10%;
        height: 5%;
        font-size: 2.8vw;
        font-weight: 500;
        min-width: 15vh;
    }
    .filterDate {
        font-size: 2.3vw; 
    }
    .filterImage {
        height: 2.3vw;
    }
    .buttonInfo {
        font-size: 2.3vw;
    }
    .button {
        width: fit-content  ;
        font-size: 2.8vw;
    }
    .comboboxContainer {
        font-size: 2vw;
    }
}