@font-face {
    font-family: 'NunitoSans';
    src: url('../../constant/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
    /* Add additional src lines if you have multiple font formats */
    /* src: url('./fonts/YourFontFile.woff') format('woff'); */
    /* src: url('./fonts/YourFontFile.woff2') format('woff2'); */
  }
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../../constant/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

.content {
    background-image: url('../../assets/images/BookingBackground.png');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
}

.welcome {
    font-size: 5vh;
    margin: 0;
    font-weight: 300;
}

.myadventure {
    font-size: 10vh;
    margin-top: 0.7vh;
    margin-bottom: 0;
}


.highlight {
    background-color: rgba(92,214,192,0.7);
    color: white;
}

.booking {
    font-size: 3.5vh;
    margin-top: 0.7vh;
    font-weight: 300;
}

.boldStatement {
    text-align: center;
    font-family: 'NunitoSans';
    font-size: 5vh;
    font-weight: bolder;
}
.normalText {
    font-weight: light;
    font-size: 2.5vh;
    text-align: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.subContentView {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}

.icon {
    height: 5vw;
}

.subContent {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: fit-content;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.subContentText {
    font-weight: bold;
    font-size: 3vh;
    margin-top: 2vh;
}
.subContentMainText {
    font-size: 2.5vh;
    font-weight: normal;
}
/* Package */
.packageBackground {
    margin-top: 10vh;
    height: fit-content;
    background-size: cover;
    background-image: url('../../assets/images/background.png');
    background-position: center;
}
.packageView {
    padding-right: 10vw;
    padding-left: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-color: rgba(92, 214, 192, 0.9);
}
#packageIntroduction {
    font-family: "NunitoSans";
    font-weight: bold;
    font-size: 5vh;
    color: #F6F893;
}
#packageMainText {
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 2.5vh;
    font-weight: regular;
}
#detailsBtn {
    width: auto;
    height: auto;
    font-family: "NunitoSans";
    font-weight: lighter;
    font-size: 2vh;
    margin-left: 10vw;
    padding: 0.5vw;
    color: white;
    border: 2px solid rgba(255, 0, 0, 0.8);
    border-radius: 203px;
    background-color: rgba(255, 0, 0, 0.8);
}
#packagePriceView {
    width: fit-content;
    height: fit-content;
    margin-top: 5vh;
}
#packagePriceText01 {
    color: #F6F893;
    font-weight: lighter;
    font-size: 4vh;
}
#packagePrice {
    font-family: 'PlayfairDisplay';
    font-weight: bolder;
    font-size: 5vh;
    color: white;
}
#packagePriceText02 {
    color: white;
    font-weight: lighter;
    font-size: 4vh;
}
/* Recommended Trip */
.recTripView {
    display: flex;
    justify-content: space-evenly;
    height: 75%;
    width: 100%;
}
.titleRowView {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 1%;
    padding-left: 7vw;
    padding-right: 7vw;
    justify-content: space-between;
}
/* Happy Customer */
.happyCustomerBackground {
    height: 60vh;
    margin-top: 10vh;
    background-image: url('../../assets/images/small_main_background.png');
    background-size: cover;
}
.happyCustomerView {
    display: flex;
    height: 60vh;
    flex-direction: row;
    background-color: rgba(61, 180, 159, 0.8);
}
.happyCustomerContentView {
    margin-left: 1.5%;
    width: 50%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#whiteBoldStatement {
    text-align: center;
    font-family: 'NunitoSans';
    font-size: 5vh;
    font-weight: bold;
    color: white;
}
#whiteNormalText {
    font-weight: normal;
    font-size: 2.5vh;
    color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 3vh;
}
.holidayTypeView {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}