.header {
    display: flex;
    background-color: #49DEC3 ;
    height: 8vh;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12.5vw;
    height: auto;
    padding: 0;
    /* border: 1px solid red; */
}

.phoneIcon {
    width: 1.5vw;
}
.text {
    font-family: sans-serif;
    font-weight: semibold;
    margin-left: 8%;
    font-size: 2.5vh;
}

.mailIcon {
    width: 1.5vw;
}

.aboutUsIcon {
    width: 1.5vw;
}

.facebookIcon {
    width: 1.5vw;
    margin-left: 15vw;
}

.instagramIcon {
    width: 1.5vw;
    margin-left: 2vw;
}
/* Tablet */
@media screen and (max-width: 1025px) and (min-width: 740px) {
    .header {
        display: flex;
        background-color: #49DEC3 ;
        height: 8vh;
        align-items: center;
        justify-content: space-between;
        padding-left: 8vw;
        padding-right: 8vw;
    }
    
    .text {
        display: none;
    }
    .phoneIcon {
        width: 4vw;
    }
    .mailIcon {
        width: 4vw;
    }
    .aboutUsIcon {
        width: 4vw;
    }
    .facebookIcon {
        width: 4vw;
        margin-left: -5vw;
    }
    .instagramIcon {
        width: 4vw;
    }
}
/* Mobile */
@media screen and (max-width: 739px) {
    .header {
        display: flex;
        background-color: #49DEC3 ;
        height: 8vh;
        align-items: center;
        justify-content: space-between;
        padding-left: 8vw;
        padding-right: 8vw;
    }
    
    .text {
        display: none;
    }
    .phoneIcon {
        width: 4vw;
    }
    .mailIcon {
        width: 4vw;
    }
    .aboutUsIcon {
        width: 4vw;
    }
    .facebookIcon {
        width: 4vw;
        margin-left: -5vw;
    }
    .instagramIcon {
        width: 4vw;
    }
}