.mainView {
    background-color: rgba(135, 244, 224, 0.8);
    margin:20px;
    border-radius: 20px;
    box-shadow: inset;
}

.mainView::after {
    content: "";
  display: table;
  clear: both;
}

.column {
    float: left;
  width: 33%;
  padding: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }