.container {
    background-image: url(../../assets/images/YourBookingBg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding-top: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 10vh;
    /* padding: 10vh; */
}
.hi {
    font-size: 5vh;
    color: black;
    font-weight: bold;
}

.mark {
    color: #5CD6C0;
}

.welcome {
    font-size: 3vh;
    margin-top: 3vh;
}

@font-face {
    font-family: 'NunitoSans';
    src: url("../../constant/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}

.text {
    font-size: 3.5vh;
    font-weight: 400;
    margin-top: 5vh;
    font-family: "NunitoSans";
}

.mainContentContainer {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 
                0 4px 8px rgba(0, 0, 0, 0.25); 

    background-color: rgba(135, 244, 224, 0.8);;
    display: flex;
    flex-direction: column; 
    padding: 2% 10%;
}
.title1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 5vh;
}
.title2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 4vh;
}
.title3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 3vh;
}
.statusContainer {
    align-self: center;
    text-align: center;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2.5vh;
    margin-top: 2vh;
}
.accountBox {
    width: 100%;
    background-color: white;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    border: 0.2vh solid black;
    padding: 2vh 0;
}
.signIn {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    font-size: 2.5vh;
}
.yourDetailBooking {
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5vh;
}
.optionBtn {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 
                0 4px 8px rgba(0, 0, 0, 0.25);
    width: 8%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    margin-right: 5%;
    font-size: 2.5vh;
}
.note {
    display: flex;
    font-weight: 500;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    border: 0.2vh solid black;
    border-radius: 2vh;
    margin-top: 2vh;
    align-items: center;
    background-color: #C1C4C8;
}
.noteText {
    margin-left: 2vw;
    font-size: 2.5vh;
}
.bookingForm {
    width: 100%;
    margin-top: 2vh;
    height: auto;
}
.heading1 {
    font-size: 4vh;
    margin-top: 3vh;
    margin-left: 3vw;
    font-weight: 500;
}

.heading2 {
    font-size: 3vh;
    margin-left: 6vw;
    font-weight: 500;
    width: 30%;
}

.commonText {
    font-size: 3vh;
}
.infoTag {
    margin-left: 6vw;
}

.price {
    font-style: "NunitoSans";
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
}

.horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star {
    cursor: pointer ;
}
.submitButton {
    background-color: white;
    width: 8vw;
    height: 5vh;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0,0,0,0.25);
}
.halfSide {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.textBeforeBtn {
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 5vh;
    font-family: "NunitoSans";
 }
.smallButton {
    font-size: 3vh;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25), 
                4px 4px rgba(0, 0, 0, 0.25);
}

.changeButton { 
    font-family: "NunitoSans";
    font-size: 1.2vw;
    margin-left: 5vw;
    background-color: white;
    border-radius: 30px;
    width: 10vw;
    height: 6vh;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.cancelButton {
    margin-top: 3vw;
    color: black;
    font-family: "NunitoSans";
    font-size: 1.2vw;
    font-weight: bold;
    background-color: #FF8139;
    padding: 0.5vw 3vw;
    width: 20vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 
                0 4px 8px rgba(0, 0, 0, 0.25); 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light gray border */
    border-top: 4px solid #3498db; /* Blue border for the loading animation */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* animation: spin 1s linear infinite; */
  }

  .birthCertImg {
    margin-left: 2vw;
  }

  .horizon1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .alignCenter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    align-items:flex-end;
  }

/* Tablet: width >= 740px && width <= 1025px */
@media screen and (max-width: 1025px) {
    .container {
        background-image: url(../../assets/images/YourBookingBg.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        padding-left: 0vh;
        padding-right: 0vh;
    }
    .mainContentContainer {
        margin-top: 0vw;
        width: 100vw;
        margin-left: 0vw;
        margin-right: 0vw;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 
                    0 4px 8px rgba(0, 0, 0, 0.25); 
    
        background-color: rgba(135, 244, 224, 0.8);;
        display: flex;
        flex-direction: column; 
        padding: 2% 10%;
    }
 .hi {
    font-size: 3vw;
    color: black;
    font-weight: bold;
    margin-left: 5vw;
 }
 .welcome {
    font-size: 2vw;
    margin-top: 3vw;
    margin-left: 5vw;
 }
 .title1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 4vw;
 }
 .title2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 3.25vw;
 }
 .title3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5vw;
 }
 .statusContainer {
    align-self: center;
    text-align: center;
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2.25vw;
    margin-top: 2vw;
 }
 .text {
    font-size: 2vw;
    font-weight: 400;
    margin-top: 5vw;
    font-family: "NunitoSans";
 }
 .signIn {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    font-size: 2.25vw;
 }
.yourDetailBooking {
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 5vw;
 }
 .noteText {
    margin-left: 2vw;
    font-size: 1.75vw;
 }
 .heading1 {
    font-size: 3vw;
    margin-top: 3vw;
    font-weight: 500;
}
.heading2 {
    font-size: 2.5vw;
    margin-left: 3vw;
    font-weight: 500;
    width: 40%;
 }
 .commonText {
    font-size: 2.5vw;
    width: 60%;
 }
 .textBeforeBtn {
    display: none;
 }
 .smallButton {
    width: 100%;
    margin-top: 3vh;
    font-size: 2vh;
    height: 5vh;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25), 
                4px 4px rgba(0, 0, 0, 0.25);
 } 
 .cancelButton {
    margin-top: 3vw;
    color: black;
    font-family: "NunitoSans";
    font-size: 2vw;
    font-weight: bold;
    background-color: #FF8139;
    padding: 1vw 3vw;
    width: 30vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 
                0 4px 8px rgba(0, 0, 0, 0.25); 
}
}
