.container {
    background-image: url(../../assets/images/YourBookingBg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 10vh;
}

.hi {
    font-size: 5vh;
    color: black;
    font-weight: bold;
}

.mark {
    color: #5CD6C0;
}

.welcome {
    font-size: 3vh;
    margin-top: 3vh;
}

@font-face {
    font-family: 'NunitoSans';
    src: url("../../constant/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}

.text {
    font-size: 3.5vh;
    font-weight: 400;
    margin-top: 5vh;
    font-family: "NunitoSans";
}

.mainContentContainer {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 
                0 4px 8px rgba(0, 0, 0, 0.25); 

    background-color: rgba(135, 244, 224, 0.8);;
    display: flex;
    flex-direction: column; 
    padding: 2% 10%;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 5vh;
}
.statusContainer {
    align-self: center;
    text-align: center;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2.5vh;
    margin-top: 2vh;
}
.accountBox {
    width: 100%;
    background-color: white;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    border: 0.2vh solid black;
    padding: 2vh 0;
}
.signIn {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    font-size: 2.5vh;
}
.optionBtn {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 
                0 4px 8px rgba(0, 0, 0, 0.25);
    width: 8%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    margin-right: 5%;
    font-size: 2.5vh;
}
.note {
    display: flex;
    font-weight: 500;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    border: 0.2vh solid black;
    border-radius: 2vh;
    margin-top: 2vh;
    align-items: center;
    background-color: #C1C4C8;
}
.bookingForm {
    width: 100%;
    margin-top: 2vh;
    height: auto;
}
.heading1 {
    font-size: 4vh;
    margin-top: 3vh;
    margin-left: 3vw;
    font-weight: 500;
}

.heading2 {
    font-size: 3vh;
    margin-left: 6vw;
    font-weight: 500;
    width: 30%;
}

.infoTag {
    margin-left: 6vw;
}

.price {
    font-style: "NunitoSans";
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
}

.horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* input[type=radio] {
    display: none;
} */
.star {
    cursor: pointer ;
}
.submitButton {
    background-color: white;
    width: 8vw;
    height: 5vh;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0,0,0,0.25);
}
.halfSide {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.smallButton {
    width: 100%;
    font-size: 3vh;
    height: 7vh;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25), 
                4px 4px rgba(0, 0, 0, 0.25);
}
/* Confirmed status only */
.changeButton { 
    font-family: "NunitoSans";
    font-size: 2.5vh;
    background-color: white;
    border-radius: 30px;
    width: 10vw;
    height: 6vh;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}
/* Confirm status only */
.cancelButton {
    padding: 1vw;
    margin-top: 3vw;
    color: black;
    font-family: "NunitoSans";
    font-size: 1.2vw;
    font-weight: bold;
    background-color: #FF8139;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 
                0 4px 8px rgba(0, 0, 0, 0.25); 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light gray border */
    border-top: 4px solid #3498db; /* Blue border for the loading animation */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* animation: spin 1s linear infinite; */
  }