.signedInTabbarContentView {
    height: 8%;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 5em;
    margin-top: 0em;
}

.contentText {
    color: gray;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2em;
}

.icon {
    width: 0.5em;
    margin-left: 0.5em;
    position: relative;
}