@font-face {
    font-family: 'NunitoSans';
    src: url('../../constant/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../../constant/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}
.detailContainer {
    min-height:100%;
    margin:0;
    text-align: center;
    font-family: 'NunitoSans';
}
.headContainer {
    position: relative;
    color: white;
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 30px;
}
table {
    border: none;
}
td {
    padding:15px;
}
.tourImage {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
    border-radius: 15px;
}