@font-face {
    font-family: "NunitoSans";
    src: url("../../constant/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}
.introBackground {
    display: flex;
    flex-direction: row;
}
.halfIntroBackground {
    flex: 1;
    height: 50vh;
    border: 1px solid white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.halfIntroBackgroundLayer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}
.titleText {
    text-transform: uppercase;
}
.titleMainText {
    text-transform: uppercase;
    font-size: 3.5vw;
    margin-top: 2.5%;
    font-weight: bold;
}
.titleTourText {
    text-transform: uppercase;
    font-size: 2vw; 
    margin: 0px;
    font-weight: 600;
}
.titleTimeText {
    text-transform: uppercase;
    font-size: 1.5vw; 
    margin: 0px; 
    font-weight: 400;
}
.text {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5vw; 
}
.text1 {
    font-weight: 600;
    font-size: 1.2vw; 
}
.leftText {
    font-weight: 600;
    font-size: 1.2vw;
    margin-top: 1.5vh;
}
.rightText {
    font-weight: 400;
    font-size: 1.2vw;
    margin-top: 1.5vh;
}
.horizontal {
    display: flex;
    flex-direction: row;
}
.firstHalf {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-indent: 20%;
}
.secondHalf {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.detailsText {
    font-weight: 600;
    font-size: 1.2vw; 
}
.detailsText::before {
    margin-left: 7%;
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 0.6rem;
    background-color: black;
}
.price {
    font-size: 1.8vw;
    font-weight: 900;
    text-transform: uppercase;
}
.bookTourBtn {
    padding: 1% 1%;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    background-color: #5CD6C0;
    border-radius: 10px;
}

.displayHorizon {
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vw;
}
.numBooked {
    font-style: italic;
    font-size: 2vw;
}
.numBooked2 {
    font-size:1.2vw;
}
.companyBtn {
    width: 40vw;
    height: fit-content;
    padding: 0.8vw;
    font-size: 1.2vw;
    background-color: #5CD6C0;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgb(0, 0, 0, 0.5);
}

.errorText {
    color: red;
    font-size: 14px;
    margin-left: 10%;
}

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .tourDetailBox {
    overflow-x: auto;
  }
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  @media screen and (max-width: 1000px) {
    
  }
@media screen and (max-width: 600px) {
    .introBackground {
        margin-top: 12vh;
    }
    .halfIntroBackground {
        display: flex;
        flex: 1;
        height: 50px;
        border: 1px solid white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .halfIntroBackgroundLayer {
        width: 100%;
        display: flex;
        flex-grow:1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 4.5vw;
        text-transform: uppercase;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .titleMainText {
        font-size: 6.5vw;
        font-weight: 800;
    }
    .titleTourText {
        font-size: 4vw; 
        margin: 0px;
        font-weight: 600;
    }
    .titleTimeText {
        text-transform: uppercase;
        font-size: 3vw; 
        margin: 0px; 
        font-weight: 400;
    }
    .text {
        font-weight: bold;
        font-style: italic;
        font-size: 3vw; 
    }
    
    .text1 {
        font-weight: 600;
        font-size: 2.2vw; 
    }
    .leftText {
        font-weight: 600;
        font-size: 2.2vw;
        margin-top: 1.5vh;
    }
    .rightText {
        font-weight: 400;
        font-size: 2.2vw;
        margin-top: 1.5vh;
    }
    .price {
        font-size: 2.7vw;
        font-weight: 900;
        text-transform: uppercase;
    }
    .bookTourBtn {
        padding: 1% 1%;
        display: flex;
        color: white;
        font-weight: 600;
        font-size: 3.1vw;
        justify-content: center;
        align-items: center;
        background-color: #5CD6C0;
        border-radius: 10px;
    }
    .numBooked2 {
        font-size:2vw;
    }
 }
