.customerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0,0,0,0.3);
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 50vw;
  margin-top: 2vh;
  background-color: white;
}
.customerBox .details{
overflow-y: hidden;
max-height: 0px; /* approximate max height */
transition-property: all;
transition-duration: .5s;
transition-timing-function: fadeIn;
}
.customerBox.open {
  overflow: hidden; /* Hide the overflow when the details are hidden */
}
.customerBox.open .details {
margin-top: 2vh; /* Add margin-top when the details are shown */
max-height: 500px;
overflow-y: hidden;

}


.boxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  width: 1vw;
  height: 1vw;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: fadeIn;}

.customerBox.open .button{
  rotate: 90deg ;
}
.details {
  display: flex; /* Hide the details by default */
  flex-direction: column;
  height: auto;
  overflow: visible;
}

.space {
  margin-top: 5vh;
  font-size: 1.2vw;
}

.row {
display: flex;
flex-direction: row;
align-items: baseline;
width: 46vw;
}

.datePicker {
border: 0.2vh solid #000;
padding: 10px;
border-radius: 0.5vw;
width: 30vw;
height: 6vh;
font-size: 1.2vw;
padding-left: 2vw;
}
