@font-face {
    font-family: 'NunitoSans';
    src: url('../../constant/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
}

.content {
    background-image: url('../../assets/images/BookingBackground.png');
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat; 
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.title {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    padding-left: 10%;
    text-align: left;
}

.welcome {
    font-size: 5vh;
    margin: 0;
    font-weight: 300;
}

.myadventure {
    font-size: 10vh;
    margin-top: 0.7vh;
    margin-bottom: 0;
}


.highlight {
    background-color: rgba(92,214,192,0.7);
    color: white;
}

.booking {
    font-size: 3.5vh;
    margin-top: 0.7vh;
    font-weight: 300;
}

#bookingManagementBoldStatement {
    text-align: center;
    font-family: 'NunitoSans';
    font-size: 3vw;
    font-weight: bolder;
}

.box {
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 0.5vw;
    padding: 1vh 1vw;
    padding-right: 3vw;
    width: 25vw;
}

.horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.horizon1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filterText {
    font-size: 3vh;
}

.icon {
    height: 3vh;
    margin-left: 1vw;
}

@media screen and (max-width: 1025px) {
    .myadventure {
        font-size: 5vw;
        margin-top: 0;
    }
    .welcome {
        font-size: 2vw;
        margin-top: 1vw;
    }
    .booking {
        font-size: 2vw;
    }
    .content {
        margin-top: 9vw;
        width: 100%;
    }
    .boldStatement {
        font-size: 5vw;
    }
    .normalText {
        font-size: 2vw;
    }
    #bookingManagementBoldStatement {
        font-size: 3.5vw;
    }
    .box {
        font-size: 2vw;
    }
    .filterText {
        font-size: 2.5vw;
    }
    .icon {
        height: 2.5vw;
    }
    .horizon {
        width: 80vw;
    }
}