#circleView {   
    display: flex;
    width: 7vw;
    height: 7vw;
    background-image: url('../../assets/icons/circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
#circleImage {
    width: 70%;
    justify-self: center;
    align-self: center;
}