@font-face {
    font-family: "NunitoSans";
    src: url("../../constant/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}
.screenFont {
    font-family: "NunitoSans";
}
.introBackground {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
.introBackgroundLayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}
.introBackgroundText {
    color: white;
    font-size: 80px;
    font-family: "NunitoSans";
    font-weight: bold;
    text-transform: uppercase;
}
.displayHorizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 3vw;
}
.filterBox {
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    height: 10%;
    font-size: 21px;
    font-weight: 600;
    text-indent: 5%;
}

.tourContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Set the number of columns */
    grid-gap: 5vw; /* Adjust the gap between items */
    padding: 0 5vw;
    margin-top: 10vh;
  }
  
.tourContainer .tourCard {
    flex: 0 0 auto;
    margin-top: 2vw;
  }